# Ignore all node_modules folders
node_modules/

# Environment variables
git add .env
git commit -m "Add real env file"
git push

# Logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db
